.form-container {
    max-width: 90%;
    margin: 40px auto;
    padding: 20px;
    background: rgb(238 238 238 / 93%);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    direction: rtl;
}

.custom-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.full-width {
    width: 100%;
}

.phone-input {
    display: flex;
    align-items: center;
    gap: 10px;
}

.phone-input select {
    width: 60px;
    text-align: center;
    background: none;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.phone-input input {
    flex: 1;
}

.submit-btn {
    background-color: #1a7ffbb0;
}

button.submit-btn {
    background: #ff1493;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button.submit-btn:hover {
    background: #c1126b;
}


.name-fields {
    display: flex;
    gap: 15px;
}

.name-fields .input-group {
    flex: 1;
}