
/* Global Styles */

/* Navbar Styles */
.navbar {
  background-color: white;
  box-shadow: 0 4px 8px 8px rgba(151, 195, 236, 0.242);
  position: sticky;
  top: 0;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container {
  /* max-width: 1200px; */
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-links .custom-scroll-link {
  padding: 8px 12px;
 
}

.nav-links .custom-scroll-link:hover {
  color: #1e40af;
  background-color: #f0f4ff; 
}


.sidebar .custom-scroll-link {
  display: block;
  padding: 12px 20px;

}

.features-section .custom-scroll-link:hover {
  color: #1e40af;
  background-color: #f5f5f5;
}


.logo {
  font-size: 42px;
  font-weight:bolder;
  color: #1e40af;
  cursor: pointer;
  transition: color 0.3s;
  margin-right: 0;
}



.nav-links {
  display: flex;
  /* gap: 5px; */
}

.nav-links a {
  text-decoration: none;
  color: #0d0f13;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 8px;
  transition: background 0.3s, color 0.3s;
}

.nav-links a:hover {
  color: #1e40af;
}

/* Menu Button */
.menu-btn {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 8px;
  color: #1e40af;
  transition: color 0.3s;
}

.menu-btn:hover {
  color: #2563eb;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -250px; /* Changed from left to right for RTL */
  width: 250px;
  height: 100%;
  background: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); /* Adjusted shadow for RTL */
  transition: right 0.3s ease; /* Changed from left to right */
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  z-index: 100;
}

.sidebar a {
  padding: 15px;
  text-decoration: none;
  color: #0d0f13;
  font-size: 20px;
  font-weight: 500;
  transition: background 0.3s, color 0.3s;
  text-align: right;
}

.sidebar a:hover {
  background: #dbeafe;
  color: #1e40af;
}

.sidebar.active {
  right: 0;
}

.close-btn {
  text-align: left; /* Changed from right to left for RTL */
  padding: 10px;
  font-size: 25px;
  cursor: pointer;
}

/* Login Button */
.login-btn {
  background-color: #1448B8;
  color: white;
  font-size: 17px;
  font-weight: 600;
  border-radius: 4px;
  padding: 13px 30px ;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: all .2s ease;
}

/* Media Queries */
@media (max-width: 1024px) {
  .nav-links {
    display: none;
  }
  
  .menu-btn {
    display: block;
  }
  
  .nav-container {
    justify-content: space-between;
  }
}
