
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, white, #eff6ff);
  min-height: 100vh;
}


.navbar {
  background-color: white;
  box-shadow: 0 4px 8px rgba(151, 195, 236, 0.242); /* ظل أبيض مائل للأزرق */
  position: sticky;
  top: 0;
  z-index: 50;

}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  font-size: 32px;
  font-weight: bold;
  color: #1e40af;
  cursor: pointer;
  transition: color 0.3s;
}

.logo:hover {
  color: #2563eb;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #0d0f13;
  font-size: 20px; /* تكبير حجم الخط */
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 8px;
  transition: background 0.3s, color 0.3s;
}

.nav-links a:hover {
  background: #dbeafe;
  color: #1e40af;
}

.login-btn {
  background-color: #1e40af;
  color: white;
  padding: 10px 24px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.login-btn:hover {
  background: #2563eb;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}




/* تنسيق الهيرو سيكشن */
.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h2 {
  font-size: 42px;
  color: #111827;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero span {
  color: #1e40af;
  display: inline-block;
  transition: transform 0.3s;
}

.hero span:hover {
  transform: scale(1.05);
}

.hero p {
  font-size: 20px;
  color: #000000;
  max-width: 600px;
  margin: 0 auto 40px;
}

/* تنسيق الخطوات */
.steps {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: nowrap;
  max-width: 100%;
  margin: auto;
  overflow-x: auto;
}

/* تصميم كل خطوة */
.step {
  text-align: center;
  flex: 1;
  min-width: 120px;
  transition: transform 0.3s ease-in-out;
}

.step img {
  width: 80px;
  height: 60px;
  transition: transform 0.3s ease-in-out;
}

.btn {
  font-size: 20px; /* تصغير الخط شوية ليكون مناسب */
  font-weight: bold; /* جعل الخط عريض */
  border-radius: 10px; /* تعديل انحناء الزوايا ليكون مشابه */
  background-color: #1448b8; /* نفس اللون */
  color: white; /* نفس لون الخط */
  padding: 10px 20px; /* ضبط المسافات الداخلية */
  border: none; /* إزالة الحدود */
  cursor: pointer; /* جعل المؤشر يشير إلى أنه زر */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  background-color: #0f3a8f; /* لون أغمق عند التحويم */
  transform: scale(1.05); /* تأثير تكبير بسيط عند التحويم */
}

/* الريسبونسيف للشاشات الصغيرة */
@media (max-width: 1024px) {
  .steps {
      flex-wrap: wrap;
      justify-content: center;
  }

  .step {
      flex: none;
      width: 25%;
  }
}

@media (max-width: 768px) {
  .steps {
      flex-direction: column;
      gap: 10px;
  }

  .step {
      width: 100%;
  }
}
