.section-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: white;
  max-width: 1200px;
  margin: auto;
  gap: 20px;
}

.section-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.tabs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8fafb;
  padding: 12px;
  border-radius: 12px;
  width: 280px;
  margin: 20px auto;
}

.tabs-container button {
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  flex: 1;
}

.tabs-container button.active {
  background-color: white;
  color: #007bff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tabs-container button:not(.active) {
  background-color: transparent;
  color: black;
}

.content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: white;
  border-radius: 12px;
  padding: 20px;
  
  width: 50%;
}

.image-container img {
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(49, 113, 232, 0.769);
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

.content {
  font-size: 25px;
  max-width: 500px;
  line-height: 1.1;
  text-align: right;
  width: 50%;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  margin-top: 20px;
}

.feature-item {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 12px;
  background: white;
  padding: 12px;
  border-radius: 8px;
  width: 100%;
  max-width: 450px;
}

.feature-item img {
  width: 40px;
  height: 40px;
  order: 1;
}

.feature-item p {
  font-size: 18px;
  order: 2;
}