h1,h2{
  color: #10212e;
}
.how{
  background-image: linear-gradient(135deg, #cefcff 13.72%, rgba(255, 223, 194, 0.1) 75%);
}
.feature-img{
  width: 9%;
  height: 50%;
}
  
/* Media Queries */
@media (max-width: 1024px) {
  
}

@media (max-width: 768px) {
  .palyVedio{
max-width: 100%;
height: 100%;
margin-top: 50px;

  }
  .num{
    display: block;
  }
} 


 